PUSHN 10
PUSHI 0
START
CICLO0:
PUSHG 10
PUSHI 10
INF
JZ FIMCICLO0
PUSHGP
PUSHI 0
PADD
PUSHG 10
READ
ATOI
STOREN
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP CICLO0
FIMCICLO0:
PUSHGP
PUSHI 0
PADD
PUSHI 3
PUSHI 2000
STOREN
STOP