PUSHI 0
PUSHI 0
PUSHI 10
START
READ
ATOI
STOREG 0
READ
ATOI
STOREG 1
PUSHG 0
PUSHG 1
SUP
PUSHG 0
PUSHG 2
SUP
MUL
PUSHI 1
EQUAL
PUSHG 1
PUSHG 2
SUP
NOT
ADD
PUSHI 0
SUP
JZ ELSE0
PUSHG 0
PUSHG 1
ADD
PUSHG 1
PUSHG 0
SUB
INFEQ
WRITEI
JUMP FIMIF0
ELSE0:
PUSHI 1000
WRITEI
FIMIF0:
STOP