PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 0
READ
ATOI
STOREG 1
CICLO0:
PUSHG 0
PUSHG 1
INFEQ
JZ FIMCICLO0
PUSHG 0
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ ELSE1
PUSHG 0
WRITEI
JUMP FIMIF1
ELSE1:
PUSHG 0
PUSHI 2
MOD
PUSHI 1
EQUAL
JZ ELSE0
PUSHG 1
WRITEI
JUMP FIMIF0
ELSE0:
FIMIF0:
FIMIF1:
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP CICLO0
FIMCICLO0:
STOP